In [29]:
from pathlib import Path
import os
import numpy as np

folder = Path(os.environ["TMPDIR"]) / "IDA"
folder

PosixPath('/run/nvme/job_18433394/tmp/IDA')

In [30]:
img_folder = folder / "Images"

individuals = [f.name for f in img_folder.glob("*") if f.is_dir()]

In [31]:
len(individuals)

9631

In [32]:
import pandas as pd
df = pd.read_csv(folder / "Machine_learning_splits.txt", sep=" ")
df

,tunnus,Class,Class_species,Class_genus,Class_family,Class_order,Img_id,SPLIT1,SPLIT2,SPLIT3,SPLIT4,SPLIT5,SPLIT6,SPLIT7,SPLIT8,SPLIT9,SPLIT10
33005,Agapetus1,Agapetus_sp,NaN,Agapetus,Glossosomatidae,Trichoptera,1-Agapetus1.1.2016-08-48-34-372709000000-utc.png,TRAIN,TRAIN,TEST,TEST,TRAIN,TRAIN,TRAIN,TEST,TRAIN,TRAIN
33006,Agapetus1,Agapetus_sp,NaN,Agapetus,Glossosomatidae,Trichoptera,1-Agapetus1.1.2016-08-48-33-972737000000-utc.png,TRAIN,TRAIN,TEST,TEST,TRAIN,TRAIN,TRAIN,TEST,TRAIN,TRAIN
33007,Agapetus1,Agapetus_sp,NaN,Agapetus,Glossosomatidae,Trichoptera,1-Agapetus1.1.2016-08-48-34-729001000000-utc.png,TRAIN,TRAIN,TEST,TEST,TRAIN,TRAIN,TRAIN,TEST,TRAIN,TRAIN
33008,Agapetus1,Agapetus_sp,NaN,Agapetus,Glossosomatidae,Trichoptera,0-Agapetus1.1.2016-08-48-34-496196000000-utc.png,TRAIN,TRAIN,TEST,TEST,TRAIN,TRAIN,TRAIN,TEST,TRAIN,TRAIN
33009,Agapetus1,Agapetus_sp,NaN,Agapetus,Glossosomatidae,Trichoptera,0-Agapetus1.1.2016-08-48-34-088420000000-utc.png,TRAIN,TRAIN,TEST,TEST,TRAIN,TRAIN,TRAIN,TEST,TRAIN,TRAIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460000,Taeniopteryx_neb99,Taeniopteryx_nebulosa,Taeniopteryx_neb,Taeniopteryx,Taeniopterygidae,Plecoptera,1-Taeniopteryx_neb99.1.2016-06-03-00-460755000...,TRAIN,TRAIN,TRAIN,TEST,TRAIN,TRAIN,TRAIN,TEST,TEST,TRAIN
460001,Taeniopteryx_neb99,Taeniopteryx_nebulosa,Taeniopteryx_neb,Taeniopteryx,Taeniopterygidae,Plecoptera,1-Taeniopteryx_neb99.1.2016-06-02-57-281968000...,TRAIN,TRAIN,TRAIN,TEST,TRAIN,TRAIN,TRAIN,TEST,TEST,TRAIN
460002,Taeniopteryx_neb99,Taeniopteryx_nebulosa,Taeniopteryx_neb,Taeniopteryx,Taeniopterygidae,Plecoptera,1-Taeniopteryx_neb99.1.2016-06-03-00-160521000...,TRAIN,TRAIN,TRAIN,TEST,TRAIN,TRAIN,TRAIN,TEST,TEST,TRAIN
460003,Taeniopteryx_neb99,Taeniopteryx_nebulosa,Taeniopteryx_neb,Taeniopteryx,Taeniopterygidae,Plecoptera,0-Taeniopteryx_neb99.1.2016-06-02-58-331857000...,TRAIN,TRAIN,TRAIN,TEST,TRAIN,TRAIN,TRAIN,TEST,TEST,TRAIN
460004,Taeniopteryx_neb99,Taeniopteryx_nebulosa,Taeniopteryx_neb,Taeniopteryx,Taeniopterygidae,Plecoptera,1-Taeniopteryx_neb99.1.2016-06-02-58-098908000...,TRAIN,TRAIN,TRAIN,TEST,TRAIN,TRAIN,TRAIN,TEST,TEST,TRAIN

In [33]:
df.columns

Index(['tunnus', 'Class', 'Class_species', 'Class_genus', 'Class_family',
       'Class_order', 'Img_id', 'SPLIT1', 'SPLIT2', 'SPLIT3', 'SPLIT4',
       'SPLIT5', 'SPLIT6', 'SPLIT7', 'SPLIT8', 'SPLIT9', 'SPLIT10'],
      dtype='object')

In [40]:
# ref file matches folders
s_ref = set(df["tunnus"].unique())
s = set(individuals)
s == s_ref

True

In [47]:
images = [f.name for f in img_folder.glob("**/*") if (f.is_file() and str(f).endswith(".png"))]
len(images)

460004

In [48]:
# ref file matches images
s_ref = set(df["Img_id"])
s = set(images)
s == s_ref

True

In [23]:
out_folder = Path("../data/processed/finbenthic2")
out_folder.mkdir(exist_ok=True)

In [56]:
np.sort(df["Class_species"].unique().astype(str))

array(['Ameletus_ino', 'Amphinemura_bor', 'Baetis_rho',
       'Baetis_ver_tai_sub', 'Capnopsis_sch', 'Elmis_aen',
       'Ephemerella_aur', 'Ephemerella_muc', 'Heptagenia_sul',
       'Hydropsyche_pel', 'Hydropsyche_sax', 'Hydropsyche_sil',
       'Kageronia_fus', 'Lepidostoma_hir', 'Leuctra_nig', 'Limnius_vol',
       'Micrasema_gel', 'Micrasema_set', 'Nemoura_cin',
       'Neureclipsis_bim', 'Oulimnius_tub', 'Polycentropus_fla',
       'Polycentropus_irr', 'Rhyacophila_nub', 'Silo_pal',
       'Taeniopteryx_neb', 'nan'], dtype='<U18')

In [61]:
def save_class_map(col, name):
    taxa = np.sort(df[col].unique().astype(str))
    with open(out_folder / name, "w") as f:
        for lab in taxa:
            if lab != 'nan':
                f.write(lab + "\n")
            
save_class_map("Class", "label_map_01_taxon.txt")
save_class_map("Class_species", "label_map_02_species.txt")
save_class_map("Class_genus", "label_map_03_genus.txt")
save_class_map("Class_family", "label_map_04_family.txt")
save_class_map("Class_order", "label_map_05_order.txt")

In [68]:
df1 = df.drop(["SPLIT1",
         "SPLIT2",
         "SPLIT3",
         "SPLIT4",
         "SPLIT5",
         "SPLIT6",
         "SPLIT7",
         "SPLIT8",
         "SPLIT9",
         "SPLIT10"], axis=1)
df1 = df1.rename({"tunnus": "individual",
            "Class": "taxon",
            "Class_species": "species",
            "Class_genus": "genus",
            "Class_family": "family",
            "Class_order": "order",
            "Img_id": "img"}, axis=1)
df1

,individual,taxon,species,genus,family,order,img
33005,Agapetus1,Agapetus_sp,NaN,Agapetus,Glossosomatidae,Trichoptera,1-Agapetus1.1.2016-08-48-34-372709000000-utc.png
33006,Agapetus1,Agapetus_sp,NaN,Agapetus,Glossosomatidae,Trichoptera,1-Agapetus1.1.2016-08-48-33-972737000000-utc.png
33007,Agapetus1,Agapetus_sp,NaN,Agapetus,Glossosomatidae,Trichoptera,1-Agapetus1.1.2016-08-48-34-729001000000-utc.png
33008,Agapetus1,Agapetus_sp,NaN,Agapetus,Glossosomatidae,Trichoptera,0-Agapetus1.1.2016-08-48-34-496196000000-utc.png
33009,Agapetus1,Agapetus_sp,NaN,Agapetus,Glossosomatidae,Trichoptera,0-Agapetus1.1.2016-08-48-34-088420000000-utc.png
...,...,...,...,...,...,...,...
460000,Taeniopteryx_neb99,Taeniopteryx_nebulosa,Taeniopteryx_neb,Taeniopteryx,Taeniopterygidae,Plecoptera,1-Taeniopteryx_neb99.1.2016-06-03-00-460755000...
460001,Taeniopteryx_neb99,Taeniopteryx_nebulosa,Taeniopteryx_neb,Taeniopteryx,Taeniopterygidae,Plecoptera,1-Taeniopteryx_neb99.1.2016-06-02-57-281968000...
460002,Taeniopteryx_neb99,Taeniopteryx_nebulosa,Taeniopteryx_neb,Taeniopteryx,Taeniopterygidae,Plecoptera,1-Taeniopteryx_neb99.1.2016-06-03-00-160521000...
460003,Taeniopteryx_neb99,Taeniopteryx_nebulosa,Taeniopteryx_neb,Taeniopteryx,Taeniopterygidae,Plecoptera,0-Taeniopteryx_neb99.1.2016-06-02-58-331857000...
460004,Taeniopteryx_neb99,Taeniopteryx_nebulosa,Taeniopteryx_neb,Taeniopteryx,Taeniopterygidae,Plecoptera,1-Taeniopteryx_neb99.1.2016-06-02-58-098908000...